RewriteEngine On

# Перенаправление для API protected links
RewriteRule ^api/protected/([A-Za-z0-9]+)$ api/protected/index.php?script_id=$1 [QSA,L]

# Разрешаем доступ к папке scripts
<Directory "scripts">
    Order allow,deny
    Allow from all
</Directory>
